.ccUB-FakeHeader  
{
	background-color: #FFFFFF; 
	margin-top: -24px;
}

.ccUB-FakeHeader img { padding: 0px; }

.btnContentContainer { width: 400px; }

.ccUB-FakeRule 
{ 
	border-bottom: 2px solid #EDEDF0; 
	margin-bottom: 3px;
}